OUT_DIR=[% settings.out_dir %]
RUN_DIR=[% settings.run_dir %]
REF_DIR=[% gotcloud.ref_dir %]
PROJECT_DIR=[% settings.project_dir %]
DELAY=[% settings.delay %]

JOB_LOG=[% settings.job_log %]

ALIGN_THREADS=[% settings.threads %]

SAMPLE_ID=[% sample.sample_id %]
BAM_CENTER=[% sample.center %]
BAM_FILE=[% sample.incoming_path %]
BAM_PI=[% sample.pi %]
BAM_HOST=[% sample.host %]
BAM_PIPELINE=[% settings.pipeline %]

GOTCLOUD_ROOT=[% gotcloud.root %]
GOTCLOUD_CONF=[% gotcloud.conf %]
GOTCLOUD_CMD=[% gotcloud.cmd %]

MAPPER_CMD=[% settings.mapper_cmd %]

TMP_DIR="${TMP_DIR}/${JOB_ID}"
FASTQ_LIST="${TMP_DIR}/fastq.list"
BAM_LIST="${TMP_DIR}/bam.list"

export PERL_CARTON_PATH=${PROJECT_DIR}/local
export PERL5LIB=${PERL_CARTON_PATH}/lib/perl5:${PROJECT_DIR}/lib/perl5:${PERL5LIB}
export PATH=${GOTCLOUD_ROOT}:${PROJECT_DIR}/bin:${PERL_CARTON_PATH}/bin:${PATH}

$MAPPER_CMD update --meta-id [% settings.meta_id %] --start --job-id $JOB_ID --node $NODELIST

$MAPPER_CMD log --meta-id [% settings.meta_id %] --message 'starting remapping pipeline'
$MAPPER_CMD log --meta-id [% settings.meta_id %] --message "job env: $(env|tr '\n', ' ')"

if [ -e $OUT_DIR ]; then
  $MAPPER_CMD log --meta-id [% settings.meta_id %] --message 'found existing OUT_DIR deleting'
  rm -rfv $OUT_DIR

  if [ $? -ne 0 ]; then
    $MAPPER_CMD log --meta-id [% settings.meta_id %] --message 'failed to remove existing OUT_DIR' --level critical
    $MAPPER_CMD update --meta-id [% settings.meta_id %] --state failed
    exit 1
  fi
fi

$MAPPER_CMD log --meta-id [% settings.meta_id %] --message 'creating OUT_DIR and TMP_DIR'
mkdir -p $OUT_DIR $TMP_DIR

if [ $? -ne 0 ]; then
  $MAPPER_CMD log --meta-id [% setings.meta_id %] --message 'failed to create OUT_DIR and or TMP_DIR' --level critical
  $MAPPER_CMD update --meta-id [% settings.meta_id %] --state failed
  exit 1
fi

$MAPPER_CMD log --meta-id [% settings.meta_id %] --message 'setting permissions on TMP_DIR'
chmod 750 $TMP_DIR

if [ $? -ne 0 ]; then
  $MAPPER_CMD log --meta-id [% settings.meta_id %] --message 'failed to set permissions on TMP_DIR' --level critical
  $MAPPER_CMD update --meta-id [% settings.meta_id %] --state failed
  exit 1
fi

$MAPPER_CMD log --meta-id [% settings.meta_id %] --message 'creating BAM_LIST'
echo "$SAMPLE_ID $BAM_FILE" > $BAM_LIST

if [ ! -z $DELAY ]; then
  $MAPPER_CMD log --meta-id [% settings.meta_id %] --message "delaying execution for $DELAY minutes"
  sleep "${DELAY}m"
fi

$MAPPER_CMD show --meta-id [% settings.meta_id %] --info > $JOB_LOG
$MAPPER_CMD log --meta-id [% settings.meta_id %] --message 'beginning bam2fastq pipeline'
$GOTCLOUD_CMD pipe         \
  --gcroot  $GOTCLOUD_ROOT \
  --name    $BAM_PIPELINE  \
  --conf    $GOTCLOUD_CONF \
  --numjobs 1              \
  --ref_dir $REF_DIR       \
  --outdir  $TMP_DIR

rc=$?
$MAPPER_CMD log --meta-id [% settings.meta_id %] --message "pipe_rc: $rc"

if [ "$rc" -ne 0 ]; then
  $MAPPER_CMD log --meta-id [% settings.meta_id %] --message "$BAM_PIPELINE failed with exit code $rc" --level critical
  $MAPPER_CMD update --meta-id [% settings.meta_id %] --state failed --exit-code $rc
else
  $MAPPER_CMD log --meta-id [% settings.meta_id %] --message 'begining gotcloud alignment'
  $GOTCLOUD_CMD align                      \
    --gcroot       $GOTCLOUD_ROOT     \
    --conf         $GOTCLOUD_CONF     \
    --threads      $ALIGN_THREADS     \
    --outdir       $OUT_DIR           \
    --fastqlist    $FASTQ_LIST        \
    --override     "TMP_DIR=$TMP_DIR" \
    --ref_dir      $REF_DIR           \
    --maxlocaljobs $ALIGN_THREADS

  rc=$?
  $MAPPER_CMD log --meta-id [% settings.meta_id %] --message "align_rc: $rc"

  if [ "$rc" -ne 0 ]; then
    $MAPPER_CMD update --meta-id [% settings.meta_id %] --state failed --exit-code $rc
    $MAPPER_CMD log --meta-id [% settings.meta_id %] --message "alignment failed with exit code $rc" --level critical
  else
    $MAPPER_CMD update --meta-id [% settings.meta_id %] --state failed --exit-code $rc
    $MAPPER_CMD log --meta-id [% settings.meta_id %] --message 'alignment completed'
  fi
fi

if [ "$rc" -ne 0 ]; then
  $MAPPER_CMD log --meta-id [% settings.meta_id %] --message 'alignment failed, moving TMP_DIR to RUN_DIR' --level critical
  mv $TMP_DIR $RUN_DIR

  max_runs=[% settings.max_failed_runs %]
  run_count=$(find $RUN_DIR -maxdepth 1 -type d|wc -l)
  runs=$(find $RUN_DIR/* -maxdepth 1 -type d|sort)

  if [ $run_count -gt $max_runs ]; then
    count=0
    for run in $runs; do
      if [ $(($run_count - $max_runs)) -gt $count ]; then
        $MAPPER_CMD log --meta-id [% settings.meta_id %] --message "purging run [$(basename $run)] from RUN_DIR"
        rm -rf $run
      fi

      count=$(($count + 1))
    done
  fi
else
  $MAPPER_CMD log --meta-id [% settings.meta_id %] --message "purging $TMP_DIR on $NODELIST"
  rm -rf $TMP_DIR
fi

$MAPPER_CMD log --meta-id [% settings.meta_id %] --message "remapping complete: $rc"
$MAPPER_CMD update --meta-id [% settings.meta_id %] --state completed --exit-code $rc

exit $rc

# vi: ft=sh
